/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.wrapper {
	display: flex;
	flex-flow: column;
	width: 890px;
	margin: 0 auto;
}

@media (max-width: 800px){
	.wrapper {
		display: flex;
		flex-flow: column;
		width: 800px;
		margin: 0 auto;
		padding: 20px;
	}

}

@media (max-width: 500px){
	.wrapper {
		display: flex;
		flex-flow: column;
		width: 500px;
		margin: 0 auto;
	}

}

/* navigation styling */
nav {
	display: flex;
	justify-content: space-between;
	margin: 1 20px 0 0;
}

.navlinks {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.navlinks a {
	margin-top: 15px;
	text-decoration: none;
	color: #A7A7A7;
}

@keyframes navigation {
	from {background-color: white;}
	to {background-color: rgb(219, 213, 213);}
  }

.navlinks a:hover {
	background: lightblue;
	color: purple;
	animation-name: navigation;
	animation-duration: 2s;
}

/* Tablet display */

@media (max-width: 800px){
	nav {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.navlinks {
		margin-top: 20px;
	}

}

/* Mobile Display */

@media (max-width: 500px){
	nav {
		display: flex;
		align-items: center;
	}
	.navlinks {
		display: flex;
		flex-direction: column;
		margin: 20px;
	}

	.navlinks a {
		border-bottom: 1px solid gray;
		width: 100%;
		padding: 15px 0 25px 0;
		text-align: center;
		margin: 0;
		font-size: 1.2rem;
	}

	.navlinks a:first-child {
		border-top: 1px solid gray;
	}

}
/* <h> tag styling  */

h1 {
	font-size: 75px;
	text-align: center;
}

h2 {
	font-size: 20px;
}

/* index page styling */


.opener {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 60px 0 50px 0;
}

.openertext {
	margin: 25px 75px 0 0;
}

@media (max-width: 800px){

	.openerimg {
		display: none;
	}

	.opener {
		padding: 0 185px;
	}
}

@media (max-width: 500px){
	.opener {
		display: flex;
		justify-content: center;
		margin-top: 5px;
		padding-right: 100px;
	}
}


button {
	border: 1px solid black;
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	width: 170px;
	height: 32px;
	margin-left: 65px;
	
}

.contentrow {
	display: flex; 
	justify-content: space-around;
}


.contentblock {
	padding: 5px;
}

@media (max-width: 800px) {
	.middlecontent {
		margin-top: -30px;
	}
}
@media (max-width: 500px){
	.contentrow {
		flex-direction: column;
		padding: 0 10px;
	}

	.contentblock {
		margin-bottom: 30px;
	}
}

hr {
	border-color: gray;
	margin: 45px 0;
}

.middle-img {
	margin: 30px 0;
	width: 100%;
}

@media (max-width: 500px) {
	.middle-img {
		padding: 0 15px;
	}
}

.phone {
	margin: 20px 0;
}

.email {
	margin: 20px 0;
}

@media (max-width: 500px) {
	.contact {
		margin-left: 20px;
		padding-top: 15px;
	}
}



/* services page styling */
/* top of page */

.servicesheader {
	display: flex;
	justify-content: center;
	flex-flow: column;
}

.services-header-img {
	margin-bottom: 40px;
}

/* middle of page */

.servicesmiddlecontent {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}

.servicesblock {
	display: flex;
	flex-flow: column;
	background-color: #F4F3F4;
	border: 1px solid black;
	height: 220px;
	width: 420px;
	padding: 20px;
	margin-bottom: 30px;
}

.bottomblock {
	margin: 0;
}

.servicesbutton {
	border-radius: 5px;
	width: 150px;
	padding: 5px;
	margin: 20px 0;
}

.servicescontent {
	display: flex;
	flex-flow: column;
	justify-content: center;
}




/* bottom of page */

.servicesbottom {
	display: flex;
	justify-content: space-between;
}

.somefacts {
	display: flex;
	flex-flow: column;
}

.somefactstext {
	margin-bottom: 20px;
	width: 400px;
}


ul {
	list-style: square inside none;

}

li {
	margin: 10px;
}

.copyright {
	text-align: center;
	margin: 50px;

}

/* About Stretch Goal */
/* about header content */
.about-header-img {
	width: 890px;
	height: 200px;
	margin-bottom: 30px;
}

/* about middle content */

.teamphotos {
	width: 400px;
	height: 300px;
	border-radius: 200px;
	box-shadow: 80px white inset;
}

.aboutname {
    font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.aboutblock {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.aboutbio {
	border: 1px solid black;
	width: 400px;
	height: 300px;
	background-color: #F4F3F4;
	padding: 30px;
}


/* Sponsors */

.sponsors {
	display: flex;
	justify-content: space-between;
}

.sponsor {
	width: 100px;
	height: 100px;
	border: 1px dotted blue;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
}
